@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main > div {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* HTML: <div class="loader"></div> */
.loader {
  aspect-ratio: 90/14;
  box-shadow: 0 3px 0 #221a4c;
  display: grid;
}
.loader:before,
.loader:after{
  content: "";
  grid-area: 1/1;
  background: radial-gradient(circle closest-side,var(--c,#584cf4) 92%,#0000) 0 0/calc(100%/4) 100%;
  animation: l4 1s infinite linear;
}
.loader:after{
  --c: #fff;
  background-color: #221a4c;
  box-shadow: 0 -2px 0 0 #221a4c;
  clip-path: inset(-2px 40%);
}
@keyframes l4 {
  100% {background-position: calc(100%/3) 0}
}


/* HTML: <div class="loader"></div> */
.loader-circle {
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader-circle::before,
.loader-circle::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader-circle::before {
  border-color: #584cf4 #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader-circle::after {
  margin: 8px;
}
@keyframes l16 {
  100%{transform: rotate(1turn)}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
div.ant-upload{
  width: 100%;
}
